<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.4/phpunit.xsd"
    bootstrap="../lib/SourcererMike/WP_Nonce/Tests/UnitTests/bootstrap.php">
    <testsuites>
        <testsuite name="default">
            <directory>../lib</directory>
        </testsuite>
    </testsuites>
</phpunit>